h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.form {
  font-size: 18px;
  width: 360px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
}
.nameInput {
  margin-left: 100px;
  padding: 7px;
  border-radius: 8px;
}
.phoneInput {
  margin-left: 30px;
  padding: 7px;
  border-radius: 8px;
}
.formLabel {
  margin-bottom: 20px;
  font-weight: 700;
}
.submitBtn {
  width: 100px;
  padding: 3px;
  border-radius: 6px;
}

.contactsList {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
}
.contactsListItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.contactName {
  margin-right: 20px;
}
.deleteBtn {
  padding: 3px 10px;
  border-radius: 6px;
  margin-left: 20px;
}
.searchFormLabel {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-left: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.searchField {
  padding: 7px;
  border-radius: 8px;
}
button:hover,
button:focus {
  background-color: rgb(87, 87, 94);
  color: white;
}
